.button {
  border-radius: 50px;
  font-size: 20px;
  padding: 0 30px;
}

.button--icon {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  column-gap: 14px;
  height: 50px;
}

.button--icon::after {
  content: '';
  width: 27px;
  height: 27px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/assets/button-arrow.svg');
}

button {
  background-color: transparent;
  border: none;
}

.button--black {
  background-color: var(--color-black);
  color: var(--color-white);
}

.button--white {
  background-color: var(--color-white);
  color: var(--color-black);

  &.button--icon {
    background-image: url('/assets/button-arrow--white.svg');
  }
}

.button--outline {
  background-color: transparent;
  border: 1px solid var(--color-white);
  color: var(--color-white);
  cursor: pointer;
}
