---
import Layout from '../layouts/Layout.astro';
import downArrow from '/assets/down-arrow.svg';
import ClientCard from '../components/ClientCard.astro';
import Video from '../components/Video.astro';
import Logos from '../components/Logos.astro';
import Accordion from '../components/Accordion.astro';
import AccordionItem from '../components/AccordionItem.astro';
import FooterLarge from '../components/FooterLarge.astro';
---

<Layout title="New Rev Digital">
	<main>
		<section class="page__header section--full">
			<h1>Amplify Your Brand with Performance Video Marketing</h1>
		</section>
		<section class="highlight section--full">
			<div class="highlight__content">
				<p class="highlight__title">NRD&reg; is a video marketing agency that translates the art of storytelling into business value.</p>
				<div class="highlight__button">
					<p>Check out our reel</p> 
					<img loading="lazy" class="highlight__down-arrow" alt="down-arrow" src={downArrow} />
				</div>
			</div>
		</section>
		<section class="highlight-video section--full">
			<Video thumbnail="https://vz-7b4476df-ca0.b-cdn.net/235f2697-f823-4912-87fd-025a3a5e23df/thumbnail_a6c9e9eb.jpg?v=1691726094" hls="https://vz-7b4476df-ca0.b-cdn.net/235f2697-f823-4912-87fd-025a3a5e23df/playlist.m3u8?v=1691557342" autoplay="true" />
		</section>
		<section class="work__header section-header section--full">
			<h2 class="work__header-title section-header__title">
				Our Work
			</h2>
			<p class="work__header-content section-header__content">
				Beautifully Crafted <span class="underline">Content</span> That Delivers Results
			</p>
		</section>
		<!-- <section class="work__cta section--full">
			<a class="button button--icon button--black">See Our Work</a>
		</section> -->
		<section class="work__highlights section--full">
			<ClientCard alt="Grubhub" src="/assets/client1.jpg" video="https://vz-7b4476df-ca0.b-cdn.net/373cd535-4bd2-4f26-8915-37259892d4cb/playlist.m3u8?v=1692489469" thumbnail="https://vz-7b4476df-ca0.b-cdn.net/373cd535-4bd2-4f26-8915-37259892d4cb/thumbnail_b1b4bc1e.jpg?v=1692489645" title="Grubhub" industry="Food Delivery" />
			<ClientCard alt="Serena & Lily" src="/assets/client2.jpg" video="https://vz-7b4476df-ca0.b-cdn.net/0c69f748-84a2-4022-8205-ff55e269373d/playlist.m3u8?v=1691727477" thumbnail="https://vz-7b4476df-ca0.b-cdn.net/0c69f748-84a2-4022-8205-ff55e269373d/thumbnail.jpg?v=1691727477" title="Serena & Lily" industry="Furniture" />
		</section>
		<section class="work__content section--full">
			<p>
				Our collaborations ignite fresh ideas, drive measurable results, and create lasting partnerships. We're incredibly proud of the work we've accomplished, and we’re excited to show you what our team can create for you.
			</p>
		</section>
		<section class="work__clients section--full">
			<Logos>
				<img class="logo" loading="lazy" src="/assets/samsung.svg">
				<img class="logo" loading="lazy" src="/assets/bud-light.svg">
				<img class="logo" loading="lazy" src="/assets/audi-logo.svg">
				<img class="logo" loading="lazy" src="/assets/lime-logo.svg">
				<img class="logo" loading="lazy" src="/assets/service-channel.svg">
				<img class="logo" loading="lazy" src="/assets/aarp.svg">
				<img class="logo" loading="lazy" src="/assets/eaze.svg">
				<img class="logo" loading="lazy" src="/assets/teladoc.svg">
			</Logos>
		</section>
		<section class="process__header section-header section--full">
			<h2 class="process__header-title section-header__title">
				Our Approach
			</h2>
			<p class="process__header-content section-header__content">
				Where We Unite Strategy, Storytelling, &  Distribution
			</p>
		</section>
		<section class="process__steps section--full">
			<Accordion orderedList="true">
				<AccordionItem preLabel="01" header="Strategic Planning">
					<div class="proccess__accordion-item-content">
						<h3 class="process__item-blockquote">We Shape Your Ideas into Winning Strategies</h3>
						<div class="process__item-content">
							<img class="process__item-img" loading="lazy" src="/assets/discovery-research.jpg">
							<h3 class="process__item-header">Video Marketing Strategy</h3>
							<p class="process__item-copy">First, we partner with you to develop a targeted video marketing strategy. We identify your goals, understand your audience, and map out a plan for engaging videos that drive results. By aligning our strategic vision with your brand identity, we create a blueprint for video marketing success that truly stands out.</p>
							<!-- <a class="button button--icon button--black process__item-button">Our Services</a> -->
						</div>
					</div>
				</AccordionItem>
				<AccordionItem preLabel="02" header="Video Production">
					<div class="proccess__accordion-item-content">
						<h3 class="process__item-blockquote">We Create High Quality Videos That Speak to Your Audience</h3>
						<div class="process__item-content">
							<img class="process__item-img" loading="lazy" src="/assets/production.jpg">
							<h3 class="process__item-header">High-Quality Video Production</h3>
							<p class="process__item-copy">Next, we turn your strategy into captivating videos. Our team creates engaging, high-quality content that truly captures your brand's story and connects with your audience. With every frame, we’re dedicated to crafting a narrative that not only tells your story but also inspires action and builds deeper customer relationships.</p>
							<!-- <a class="button button--icon button--black process__item-button">Our Services</a> -->
						</div>
					</div>
				</AccordionItem>
				<AccordionItem preLabel="03" header="Next-Level Media Buying">
					<div class="proccess__accordion-item-content">
						<h3 class="process__item-blockquote">Maximize Your Reach and Impact with Precision Media Buying</h3>
						<div class="process__item-content">
							<img class="process__item-img" loading="lazy" src="/assets/distribution.jpg">
							<h3 class="process__item-header">Precision Media Buying</h3>
							<p class="process__item-copy">Finally, we make sure your videos reach the right audience at the right time. We use data-driven insights to place your content strategically, maximizing your reach and return on investment. With NRD® precision media buying, your compelling video content doesn't just get exposure—it engages the right viewers, leading to higher conversion rates and increased brand loyalty.</p>
							<!-- <a class="button button--icon button--black process__item-button">Our Services</a> -->
						</div>
					</div>
				</AccordionItem>
			</Accordion>
		</section>
		<section class="about section--full">
			<img class="about__team" src="/assets/nrd-team.jpg" />
			<div class="about__content">
				<h3 class="about__content-title">Our team is a creative powerhouse fully equipped with the in-house tools and resources needed to fuel your next video marketing campaign.</h3>
			</div>
		</section>
	</main>
	<FooterLarge />
</Layout>

<style>
	@import '../styles/common/media-queries.css';

	h1 {
		max-width: 1000px;

		@media (--lg) {
			font-size: 72px;
		}

		.underline {
			position: relative;
		}

		.underline::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 20px;
			background-image: url(/assets/underline5.svg);
			left: 0;
			bottom: -20px;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	.highlight__content {
		margin-top: 4rem;
		margin-bottom: 0.5rem;

		@media (--lg) {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin-top: 8rem;
		}
	}

	.highlight__title {
		font-size: 28.43px;
		line-height: 1.2;

		@media (--md) {
			max-width: 692px;
		}
		
		@media (--lg) {
			font-size: 34px;
		}
	}

	.highlight__button {
		margin-top: 0.5rem;
		display: flex;
		column-gap: 0.25rem;
		align-items: center;
	}

	.highlight__down-arrow {
		width: 32px;
		height: 32px;
	}

	.highlight-video__video {
		display: block;
		width: 100%;
		height: auto;
	}

	.section-header {
		padding-top: 2rem;
		padding-bottom: 2rem;

		@media (--lg) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding-top: 2rem;
			padding-bottom: 2rem;
			min-height: 460px;		
		}
	}

	.section-header__title {
		font-size: 16px;

		@media (--lg) {
			font-size: 30px;
		}
	}

	.section-header__content {
		font-size: 50px;
		line-height: 1.4;

		@media (--lg) {
			font-size: 72px;
			line-height: 1.3;
			max-width: 900px;
		}
	}

	/* .work__header {
	} */
	
	/* .work__header-title
	.work__header-content */


	.work__cta {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 2rem;
	}

	.newline {
		display: block;
	}

	.work__highlights {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
	
		@media (--lg) {
			flex-direction: row;
			column-gap: 2rem;
		}
	}

	.work__content {
		font-size: 35px;
		max-width: 1200px;
		line-height: 1.4;
		margin-top: 8rem;
		padding-bottom: 2rem;
	}

	.work__clients {
		margin-top: 4rem;
		padding-bottom: 10rem;
		border-bottom: 1px solid var(--color-black);
	}

	.logo {
		width: auto;
		height: 100%;
		max-height: 40px;
	}

	/* .process__header {
	} */
	
	/* .process__header-title {
		font-size: 30px;
	} */

	/* .process__header-content {
		font-size: 72px;
		line-height: 1.3;
		max-width: 900px;
	} */

	.process__cta {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 2rem;
	}

	.process__item-blockquote {
		font-size: 35.3px;

		@media (--lg) {
			font-size: 4.625rem;
		}
	}

	.process__item-header {
		font-size: 2rem;
	}

	.process__item-copy {
		font-size: 1.25rem;
	}

	.proccess__accordion-item-content {
		@media (--lg) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 15%;
			align-items: center;
			padding: 3rem 0;
		}
	}

	.process__item-button {
		margin-top: 1.3rem;
	}

	.about {
		background-color: var(--color-black);
	
		@media (--lg) {
			display: grid;
			padding: 8rem 0 4rem 0;
			grid-template-columns: 50% 50%;
		}
	}

	.about__team {
		display: block;
	}

	.about__content {
		padding: 0 1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;

		@media (--lg) {
			padding: 0 4rem;
		}
	}

	.about__content-title {
		color: var(--color-white);

		@media (--lg) {
			font-size: 44px;
		}
	}

	.about__content-line {
		font-size: 20px;
    margin-top: 2rem;

		@media (--lg) {
			font-size: 36px;
		}
	}

	.about__button {
		display: inline-block;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

		@media (--lg) {
			align-self: flex-start;
		}
	}
</style>
