---
  const { header, preLabel } = Astro.props;
---

<div class="accordion__item active">
  <div class="accordion__item-header">
    { preLabel && <span class="accordion__item-label">{preLabel}</span>}
    { preLabel && <span class="accordion__item-dash"></span>}
    { header }

    <svg class="accordion__plus" width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M46.8622 8.04476C41.6773 2.85893 34.7788 0 27.4456 0C20.1109 0 13.2164 2.85893 8.02901 8.04476C-2.67634 18.7565 -2.67634 36.1742 8.02901 46.8802C13.2161 52.0647 20.1103 54.9245 27.4456 54.9245C34.7787 54.9245 41.6771 52.0647 46.8622 46.8797C52.0476 41.6922 54.9049 34.7984 54.9049 27.4609C54.9054 20.1279 52.0481 13.2317 46.8627 8.04432L46.8622 8.04476ZM44.4167 44.4336C39.8856 48.9669 33.8581 51.4665 27.4455 51.4665C21.0329 51.4665 15.0079 48.9668 10.4744 44.4336C1.11588 35.0726 1.11588 19.8503 10.4744 10.4891C15.0081 5.95805 21.0334 3.46049 27.4455 3.46049C33.8577 3.46049 39.8843 5.95761 44.4167 10.4891C48.9478 15.0249 51.4479 21.0498 51.4479 27.4603C51.4471 33.8755 48.9482 39.9023 44.4167 44.4336Z" fill="#2F2F2F"/>
      <line class="plus__vertical" x1="9" y1="27" x2="46" y2="27" stroke="#2F2F2F" stroke-width="2"/>
      <line class="plus__horizontal" x1="27" y1="46.5" x2="27" y2="9.5" stroke="#2F2F2F" stroke-width="2"/>
      </svg>
      
  </div>
  <div class="accordion__item-content">
    <slot />
  </div>
</div>

<style>
  @import '../styles/common/media-queries.css';

  .accordion__item-label {
    color: var(--color-gray);
  }

  .accordion__item-dash {
    display: flex;
    align-items: center;
  
    &::after {
      content: '';
      display: inline-block;
      width: 16px;
      height: 2px;
      background-color: var(--color-black);


      @media (--lg) {
        width: 24px;  
      }
    }
  }

  .accordion__item {
    border-bottom: 1px solid var(--color-gray);
    padding: calc(2*var(--spacer)) calc(0.5*var(--spacer));
    transition: 0.25s;

    @media (--lg) {
      padding: calc(3*var(--spacer)) calc(3*var(--spacer));
    }
  
    &:first-child {
      border-top: 1px solid var(--color-gray);
    }

    &.active {
      .accordion__item-content {
        display: block;
      }

      .accordion__item-header::after {
        background-image: url('/assets/minus.svg');
      }

      .plus__horizontal {
        transform: rotate(90deg);
      }

    }
  }

  .accordion__item-header {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    font-size:22px;

    @media (--lg) {
      font-size: 32px;
      column-gap: 0.75rem;
    }
  }

  .accordion__plus {
    margin-left: auto;
    display: inline-block;
    width: 24px;
    height: 24px;

    @media (--lg) {
      width: 54px;
      height: 54px;
    }

    path {
      fill: var(--color-black);
    }

    line {
      stroke: var(--color-black);
    }
  }

  .plus__horizontal {
    transition: transform 0.25s;
    transform-origin: center;
  }

  .accordion__item-content {
    display: none;
  }
</style>