---
  import Nav from "../components/Nav.astro";
---

<header id="header" class="header">
  <div id="header-sticky" class="header-sticky">
    <a href="/" class="logo">
      <svg class="logo--dark" width="315" height="44" viewBox="0 0 315 44" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.64 35H7.504V17.288C7.504 14.888 7.312 11.288 7.312 11.288H7.408C7.408 11.288 8.752 14.216 9.856 16.04L21.568 35H28.288V0.679998H21.424V18.68C21.424 21.08 21.616 24.632 21.616 24.632H21.52C21.52 24.632 20.224 21.704 19.12 19.832L7.696 0.679998H0.64V35ZM44.5863 35.72C50.9223 35.72 54.8103 32.024 55.7223 27.656H49.2903C48.5703 29.528 47.0823 30.68 44.5383 30.68C40.8423 30.68 38.7303 28.328 38.2503 24.536H56.1063C56.1063 15.752 51.8823 9.704 43.9623 9.704C36.7623 9.704 31.8183 15.368 31.8183 22.664C31.8183 30.008 36.4263 35.72 44.5863 35.72ZM44.0583 14.744C47.0343 14.744 49.0983 16.904 49.2903 20.024H38.3463C38.9223 16.808 40.6023 14.744 44.0583 14.744ZM63.9389 35H69.8429L73.2029 22.904C73.7309 20.936 74.3549 18.632 74.3549 18.632H74.4509C74.4509 18.632 75.0269 20.936 75.5549 22.904L78.8189 35H84.7709L92.1149 10.376H85.7789L82.6589 21.8C82.1309 23.816 81.5549 26.408 81.5549 26.408H81.4589C81.4589 26.408 80.8349 23.816 80.3069 21.752L77.0909 10.376H71.5229L68.4509 21.752C67.9229 23.768 67.3949 26.408 67.3949 26.408H67.2989C67.2989 26.408 66.7229 23.816 66.1949 21.8L63.2189 10.376H56.7389L63.9389 35ZM94.9525 35H101.913V21.224H107.529C111.849 21.224 113.961 23.336 114.249 27.08C114.537 30.776 114.633 34.616 115.497 35H122.169V34.664C120.969 34.136 121.161 30.44 120.681 25.592C120.249 21.416 118.617 19.592 115.449 18.68V18.536C119.865 17.336 121.737 14.264 121.737 10.232C121.737 4.52 117.321 0.679998 110.697 0.679998H94.9525V35ZM101.913 6.296H109.497C113.193 6.296 114.969 8.36 114.969 11.144C114.969 13.88 113.097 15.848 109.305 15.848H101.913V6.296ZM137.024 35.72C143.36 35.72 147.248 32.024 148.16 27.656H141.728C141.008 29.528 139.52 30.68 136.976 30.68C133.28 30.68 131.168 28.328 130.688 24.536H148.544C148.544 15.752 144.32 9.704 136.4 9.704C129.2 9.704 124.256 15.368 124.256 22.664C124.256 30.008 128.864 35.72 137.024 35.72ZM136.496 14.744C139.472 14.744 141.536 16.904 141.728 20.024H130.784C131.36 16.808 133.04 14.744 136.496 14.744ZM157.624 35H163.864L172.456 10.376H165.928L161.896 23.144C161.176 25.496 160.84 27.08 160.84 27.08H160.744C160.744 27.08 160.36 25.496 159.64 23.144L155.704 10.376H149.08L157.624 35ZM175.203 35H188.019C192.339 35 195.651 33.8 198.195 31.688C201.795 28.664 203.667 23.768 203.667 18.2C203.667 8.072 197.763 0.679998 188.595 0.679998H175.203V35ZM182.163 29V6.632H187.731C193.635 6.632 196.611 11.384 196.611 18.2C196.611 25.016 194.067 29 187.539 29H182.163ZM206.925 35H213.453V10.376H206.925V35ZM206.925 6.536H213.453V0.679998H206.925V6.536ZM228.507 43.4C232.155 43.4 235.323 42.536 237.387 40.616C239.211 38.936 240.315 36.584 240.315 33.128V10.376H234.027V12.968H233.931C232.443 10.904 230.187 9.704 227.115 9.704C220.875 9.704 216.459 14.408 216.459 21.752C216.459 29.192 221.835 33.512 227.307 33.512C230.427 33.512 232.299 32.264 233.739 30.632H233.883V33.32C233.883 36.68 232.107 38.456 228.411 38.456C225.387 38.456 223.995 37.256 223.467 35.72H216.987C217.659 40.52 221.787 43.4 228.507 43.4ZM228.411 28.28C225.051 28.28 222.843 25.832 222.843 21.656C222.843 17.528 225.051 14.936 228.363 14.936C232.299 14.936 234.219 18.008 234.219 21.608C234.219 25.256 232.539 28.28 228.411 28.28ZM244.518 35H251.046V10.376H244.518V35ZM244.518 6.536H251.046V0.679998H244.518V6.536ZM253.813 14.696H257.221V29.144C257.221 33.8 260.725 35.048 263.893 35.048C266.485 35.048 267.973 34.952 267.973 34.952V30.152C267.973 30.152 266.869 30.2 266.053 30.2C264.613 30.2 263.605 29.576 263.605 27.752V14.696H267.829V10.376H263.605V2.696H257.221V10.376H253.813V14.696ZM286.929 35H293.217V34.76C292.641 34.328 292.353 33.224 292.353 31.352V18.824C292.353 13.064 289.377 9.752 281.984 9.752C274.785 9.752 271.569 13.544 271.377 17.864H277.185C277.377 15.512 278.865 14.408 281.937 14.408C284.673 14.408 286.065 15.56 286.065 17.336C286.065 19.208 284.193 19.544 280.113 20.12C274.641 20.888 270.225 22.616 270.225 28.04C270.225 32.936 273.777 35.576 278.817 35.576C283.041 35.576 284.817 34.136 286.065 32.264H286.161C286.305 33.368 286.545 34.52 286.929 35ZM280.401 31.016C278.097 31.016 276.561 30.2 276.561 27.896C276.561 25.592 278.241 24.824 281.648 24.056C283.281 23.672 285.057 23.288 286.209 22.616V26.312C286.209 28.712 284.145 31.016 280.401 31.016ZM296.599 35H303.127V0.679998H296.599V35ZM307.041 35H314.049V28.04H307.041V35Z" fill="black"/>
      </svg>
      <svg class="logo--light" width="101" height="36" viewBox="0 0 101 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 35.1598V0.839844H7.056L18.48 19.9918C18.8 20.5358 19.152 21.2078 19.536 22.0078C19.952 22.8078 20.272 23.4798 20.496 24.0238L20.88 24.7918H20.976C20.848 22.4238 20.784 20.4398 20.784 18.8398V0.839844H27.648V35.1598H20.928L9.216 16.1998C8.896 15.6558 8.528 14.9998 8.112 14.2318C7.696 13.4318 7.376 12.7598 7.152 12.2158L6.768 11.4478H6.672C6.8 13.8478 6.864 15.8478 6.864 17.4478V35.1598H0Z" fill="white"/>
        <path d="M32.9062 35.1598V0.839844H48.6502C51.9462 0.839844 54.6023 1.71984 56.6183 3.47984C58.6663 5.23984 59.6903 7.54384 59.6903 10.3918C59.6903 14.7758 57.5943 17.5438 53.4023 18.6958V18.8398C55.0343 19.3198 56.2503 20.0878 57.0503 21.1438C57.8823 22.1678 58.4103 23.7038 58.6343 25.7518C58.6983 26.5198 58.7623 27.4318 58.8263 28.4878C58.9223 29.5118 58.9863 30.3278 59.0183 30.9358C59.0823 31.5438 59.1462 32.1518 59.2103 32.7598C59.3062 33.3678 59.4182 33.8478 59.5462 34.1998C59.7062 34.5198 59.8983 34.7278 60.1223 34.8238V35.1598H53.4502C53.3222 35.0958 53.2103 34.9838 53.1143 34.8238C53.0183 34.6318 52.9383 34.3758 52.8743 34.0558C52.8103 33.7358 52.7463 33.4158 52.6823 33.0958C52.6503 32.7438 52.6023 32.3118 52.5382 31.7998C52.5063 31.2558 52.4742 30.7918 52.4422 30.4078C52.4102 29.9918 52.3623 29.4638 52.2983 28.8238C52.2663 28.1518 52.2343 27.6238 52.2023 27.2398C51.9143 23.3358 49.6743 21.3838 45.4823 21.3838H39.8662V35.1598H32.9062ZM39.8662 6.45584V16.0078H47.2583C49.0823 16.0078 50.4742 15.5758 51.4342 14.7118C52.4263 13.8478 52.9223 12.7118 52.9223 11.3038C52.9223 9.86384 52.4583 8.69584 51.5303 7.79984C50.6023 6.90384 49.2422 6.45584 47.4502 6.45584H39.8662Z" fill="white"/>
        <path d="M64.1719 35.1598V0.839844H77.5639C82.1079 0.839844 85.7559 2.48784 88.5079 5.78384C91.2599 9.04784 92.6359 13.2398 92.6359 18.3598C92.6359 24.2798 90.8119 28.7758 87.1639 31.8478C84.5079 34.0558 81.1159 35.1598 76.9879 35.1598H64.1719ZM71.1319 29.1598H76.5079C79.6759 29.1598 81.9799 28.2478 83.4199 26.4238C84.8599 24.5678 85.5799 21.8798 85.5799 18.3598C85.5799 14.8398 84.8119 12.0398 83.2759 9.95984C81.7719 7.84784 79.5799 6.79184 76.6999 6.79184H71.1319V29.1598Z" fill="white"/>
        <path d="M93.588 35.1598V28.1998H100.596V35.1598H93.588Z" fill="white"/>
      </svg>
    </a>
    <Nav />
    <a href="#contact-form" class="header__button button button--icon button--black">Let's Talk</a>
    <button aria-label="open menu" id="header__menu-toggle" class="header__menu-toggle">
      <svg width="32" height="24" viewBox="0 0 32 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 2H32M0 12H32M0 22H32" stroke="black" stroke-width="2.2"/>
      </svg>      
    </button>
  </div>
</header>

<nav id="header-modal" class="header-modal">
  <div class="header-modal__container">
    <div class="header-modal__header">
      <a href="/" class="logo logo--modal">
        <svg class="logo--dark" width="315" height="44" viewBox="0 0 315 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.64 35H7.504V17.288C7.504 14.888 7.312 11.288 7.312 11.288H7.408C7.408 11.288 8.752 14.216 9.856 16.04L21.568 35H28.288V0.679998H21.424V18.68C21.424 21.08 21.616 24.632 21.616 24.632H21.52C21.52 24.632 20.224 21.704 19.12 19.832L7.696 0.679998H0.64V35ZM44.5863 35.72C50.9223 35.72 54.8103 32.024 55.7223 27.656H49.2903C48.5703 29.528 47.0823 30.68 44.5383 30.68C40.8423 30.68 38.7303 28.328 38.2503 24.536H56.1063C56.1063 15.752 51.8823 9.704 43.9623 9.704C36.7623 9.704 31.8183 15.368 31.8183 22.664C31.8183 30.008 36.4263 35.72 44.5863 35.72ZM44.0583 14.744C47.0343 14.744 49.0983 16.904 49.2903 20.024H38.3463C38.9223 16.808 40.6023 14.744 44.0583 14.744ZM63.9389 35H69.8429L73.2029 22.904C73.7309 20.936 74.3549 18.632 74.3549 18.632H74.4509C74.4509 18.632 75.0269 20.936 75.5549 22.904L78.8189 35H84.7709L92.1149 10.376H85.7789L82.6589 21.8C82.1309 23.816 81.5549 26.408 81.5549 26.408H81.4589C81.4589 26.408 80.8349 23.816 80.3069 21.752L77.0909 10.376H71.5229L68.4509 21.752C67.9229 23.768 67.3949 26.408 67.3949 26.408H67.2989C67.2989 26.408 66.7229 23.816 66.1949 21.8L63.2189 10.376H56.7389L63.9389 35ZM94.9525 35H101.913V21.224H107.529C111.849 21.224 113.961 23.336 114.249 27.08C114.537 30.776 114.633 34.616 115.497 35H122.169V34.664C120.969 34.136 121.161 30.44 120.681 25.592C120.249 21.416 118.617 19.592 115.449 18.68V18.536C119.865 17.336 121.737 14.264 121.737 10.232C121.737 4.52 117.321 0.679998 110.697 0.679998H94.9525V35ZM101.913 6.296H109.497C113.193 6.296 114.969 8.36 114.969 11.144C114.969 13.88 113.097 15.848 109.305 15.848H101.913V6.296ZM137.024 35.72C143.36 35.72 147.248 32.024 148.16 27.656H141.728C141.008 29.528 139.52 30.68 136.976 30.68C133.28 30.68 131.168 28.328 130.688 24.536H148.544C148.544 15.752 144.32 9.704 136.4 9.704C129.2 9.704 124.256 15.368 124.256 22.664C124.256 30.008 128.864 35.72 137.024 35.72ZM136.496 14.744C139.472 14.744 141.536 16.904 141.728 20.024H130.784C131.36 16.808 133.04 14.744 136.496 14.744ZM157.624 35H163.864L172.456 10.376H165.928L161.896 23.144C161.176 25.496 160.84 27.08 160.84 27.08H160.744C160.744 27.08 160.36 25.496 159.64 23.144L155.704 10.376H149.08L157.624 35ZM175.203 35H188.019C192.339 35 195.651 33.8 198.195 31.688C201.795 28.664 203.667 23.768 203.667 18.2C203.667 8.072 197.763 0.679998 188.595 0.679998H175.203V35ZM182.163 29V6.632H187.731C193.635 6.632 196.611 11.384 196.611 18.2C196.611 25.016 194.067 29 187.539 29H182.163ZM206.925 35H213.453V10.376H206.925V35ZM206.925 6.536H213.453V0.679998H206.925V6.536ZM228.507 43.4C232.155 43.4 235.323 42.536 237.387 40.616C239.211 38.936 240.315 36.584 240.315 33.128V10.376H234.027V12.968H233.931C232.443 10.904 230.187 9.704 227.115 9.704C220.875 9.704 216.459 14.408 216.459 21.752C216.459 29.192 221.835 33.512 227.307 33.512C230.427 33.512 232.299 32.264 233.739 30.632H233.883V33.32C233.883 36.68 232.107 38.456 228.411 38.456C225.387 38.456 223.995 37.256 223.467 35.72H216.987C217.659 40.52 221.787 43.4 228.507 43.4ZM228.411 28.28C225.051 28.28 222.843 25.832 222.843 21.656C222.843 17.528 225.051 14.936 228.363 14.936C232.299 14.936 234.219 18.008 234.219 21.608C234.219 25.256 232.539 28.28 228.411 28.28ZM244.518 35H251.046V10.376H244.518V35ZM244.518 6.536H251.046V0.679998H244.518V6.536ZM253.813 14.696H257.221V29.144C257.221 33.8 260.725 35.048 263.893 35.048C266.485 35.048 267.973 34.952 267.973 34.952V30.152C267.973 30.152 266.869 30.2 266.053 30.2C264.613 30.2 263.605 29.576 263.605 27.752V14.696H267.829V10.376H263.605V2.696H257.221V10.376H253.813V14.696ZM286.929 35H293.217V34.76C292.641 34.328 292.353 33.224 292.353 31.352V18.824C292.353 13.064 289.377 9.752 281.984 9.752C274.785 9.752 271.569 13.544 271.377 17.864H277.185C277.377 15.512 278.865 14.408 281.937 14.408C284.673 14.408 286.065 15.56 286.065 17.336C286.065 19.208 284.193 19.544 280.113 20.12C274.641 20.888 270.225 22.616 270.225 28.04C270.225 32.936 273.777 35.576 278.817 35.576C283.041 35.576 284.817 34.136 286.065 32.264H286.161C286.305 33.368 286.545 34.52 286.929 35ZM280.401 31.016C278.097 31.016 276.561 30.2 276.561 27.896C276.561 25.592 278.241 24.824 281.648 24.056C283.281 23.672 285.057 23.288 286.209 22.616V26.312C286.209 28.712 284.145 31.016 280.401 31.016ZM296.599 35H303.127V0.679998H296.599V35ZM307.041 35H314.049V28.04H307.041V35Z" fill="black"/>
          </svg>
      </a>
      <button class="header-modal__close">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 23L23 1M1 1L23 23" stroke="#666666" stroke-width="1.8" stroke-linecap="round"/>
        </svg>          
      </button>
    </div>
    <Nav modal="true" />
  </div>
</nav>

<style>
  @import '../styles/common/media-queries.css';

  .header-sticky {
    padding: 0 calc(var(--spacer)*1.5);  
    position: relative;
    display: flex;
    height: 66px;
    column-gap: 2rem;
    align-items: center;
    border-bottom: 1px solid var(--color-black);
    background-color: var(--color-white);
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(0);

    @media (--md) {
      padding: 0 calc(var(--spacer)*2);
      height: 91px;
    }

    .logo--light {
      display: none;
    }
  }

  .header--unpinned {
    position: fixed !important;
  }

  .header--pinned {
    position: fixed !important;
    transition: all 0.2s ease-in-out 0s;
    background-color: var(--color-black);
    border-bottom: none;

    .logo {
      border-right: none;
    }

    .logo--dark {
      display: none;
    }

    .logo--light {
      display: block;
    }

    :global(.header__button) {
      border: 1px solid var(--color-white);
    }

    :global(.nav__link) {
      color: var(--color-white);
    }

    .header__menu-toggle path {
      stroke: #fff;
    }
  }

  .header__button {
    flex-shrink: 0;
    display: none;

    @media (--lg) {
      display: flex;
    }
  }

  .header__button-text {
    flex-shrink: 0;
  }

  .header__button-mark svg {
    display: block;
    width: 27px;
    height: 27px;
  }

  .logo {
    display: block;
    line-height: 1;
    padding-right: 5%;
    border-right: 1px solid black;
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
  }

  .logo svg {
    height: 28px;
    width: auto;

    @media (--lg) {
      height: 38px;
    }
  }

  .header-modal {
    display: none;
    background-color: var(--color-white);
    display: none;
    left: 0;
    min-height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    @media (--lg) {
      display: none;
    }

    &.active {
      display: block;
    }
  }

  .header-modal__header {
    padding: 0 calc(var(--spacer)*1.5);  
    position: relative;
    display: flex;
    height: 66px;
    column-gap: 2rem;
    align-items: center;
    border-bottom: 1px solid var(--color-black);
    background-color: var(--color-white);
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(0);

    @media (--md) {
      padding: 0 calc(var(--spacer)*2);
      height: 91px;
    }
  }

  .header-modal__close {
    margin-left: auto;
    cursor: pointer;
  }

  .header__menu-toggle {
    margin-left: auto;
    cursor: pointer;

    @media (--lg) {
      margin-left: initial;
      display: none;
    }
  }
</style>

<script>
  // menu scroll functionality
  var prevScrollpos = window.pageYOffset;
  var headerHeight = document.getElementById("header-sticky").offsetHeight;
  var header = document.getElementById("header-sticky");
  var headerButton = document.querySelector(".header__button");
  window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
    var scrollDistance = currentScrollPos - prevScrollpos;

    if(currentScrollPos === 0) {
      header.style.transform = 'translateY(0)';
      header.classList.remove("header--pinned");
    } else if (currentScrollPos < headerHeight) {
      header.classList.remove("header--pinned");
      header.classList.remove("header--unpinned");
      header.style.transform = 'translateY(0)';
      // headerButton.classList.remove("button--white");
      // headerButton.classList.add("button--black");
    } else if (prevScrollpos > currentScrollPos) {
      // Going up
      var scrollDistance = prevScrollpos - currentScrollPos;
      if (scrollDistance > 10) {
        header.style.transform = 'translateY(0)';
        header.classList.add("header--pinned");
        header.classList.remove("header--unpinned");
        // headerButton.classList.add("button--white");
        // headerButton.classList.remove("button--black");
      }
    } else {
      header.classList.add("header--unpinned");
      header.classList.remove("header--pinned");
      header.style.transform = 'translateY(-100%)';
    }
    prevScrollpos = currentScrollPos;
  }

    // mobile menu funcitonality
    if (document.getElementById('header__menu-toggle')) {    
    var menuToggle = document.querySelector('#header__menu-toggle');
    var menu = document.querySelector('#header-modal');
    var body = document.querySelector('body');
    var close = document.querySelector('.header-modal__close');
    menuToggle.addEventListener('click', function() {
      this.classList.toggle('active');
      menu.classList.toggle('active');
      body.classList.toggle('no-scroll');
    });

    close.addEventListener('click', function() {
      menuToggle.classList.toggle('active');
      menu.classList.toggle('active');
      body.classList.toggle('no-scroll');
    });
  }
  
</script>