---
  import Nav from "../components/Nav.astro";
---

<header id="header" class="header">
  <div id="header-sticky">
    <a href="/" class="logo">
      <svg width="315" height="44" viewBox="0 0 315 44" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.64 35H7.504V17.288C7.504 14.888 7.312 11.288 7.312 11.288H7.408C7.408 11.288 8.752 14.216 9.856 16.04L21.568 35H28.288V0.679998H21.424V18.68C21.424 21.08 21.616 24.632 21.616 24.632H21.52C21.52 24.632 20.224 21.704 19.12 19.832L7.696 0.679998H0.64V35ZM44.5863 35.72C50.9223 35.72 54.8103 32.024 55.7223 27.656H49.2903C48.5703 29.528 47.0823 30.68 44.5383 30.68C40.8423 30.68 38.7303 28.328 38.2503 24.536H56.1063C56.1063 15.752 51.8823 9.704 43.9623 9.704C36.7623 9.704 31.8183 15.368 31.8183 22.664C31.8183 30.008 36.4263 35.72 44.5863 35.72ZM44.0583 14.744C47.0343 14.744 49.0983 16.904 49.2903 20.024H38.3463C38.9223 16.808 40.6023 14.744 44.0583 14.744ZM63.9389 35H69.8429L73.2029 22.904C73.7309 20.936 74.3549 18.632 74.3549 18.632H74.4509C74.4509 18.632 75.0269 20.936 75.5549 22.904L78.8189 35H84.7709L92.1149 10.376H85.7789L82.6589 21.8C82.1309 23.816 81.5549 26.408 81.5549 26.408H81.4589C81.4589 26.408 80.8349 23.816 80.3069 21.752L77.0909 10.376H71.5229L68.4509 21.752C67.9229 23.768 67.3949 26.408 67.3949 26.408H67.2989C67.2989 26.408 66.7229 23.816 66.1949 21.8L63.2189 10.376H56.7389L63.9389 35ZM94.9525 35H101.913V21.224H107.529C111.849 21.224 113.961 23.336 114.249 27.08C114.537 30.776 114.633 34.616 115.497 35H122.169V34.664C120.969 34.136 121.161 30.44 120.681 25.592C120.249 21.416 118.617 19.592 115.449 18.68V18.536C119.865 17.336 121.737 14.264 121.737 10.232C121.737 4.52 117.321 0.679998 110.697 0.679998H94.9525V35ZM101.913 6.296H109.497C113.193 6.296 114.969 8.36 114.969 11.144C114.969 13.88 113.097 15.848 109.305 15.848H101.913V6.296ZM137.024 35.72C143.36 35.72 147.248 32.024 148.16 27.656H141.728C141.008 29.528 139.52 30.68 136.976 30.68C133.28 30.68 131.168 28.328 130.688 24.536H148.544C148.544 15.752 144.32 9.704 136.4 9.704C129.2 9.704 124.256 15.368 124.256 22.664C124.256 30.008 128.864 35.72 137.024 35.72ZM136.496 14.744C139.472 14.744 141.536 16.904 141.728 20.024H130.784C131.36 16.808 133.04 14.744 136.496 14.744ZM157.624 35H163.864L172.456 10.376H165.928L161.896 23.144C161.176 25.496 160.84 27.08 160.84 27.08H160.744C160.744 27.08 160.36 25.496 159.64 23.144L155.704 10.376H149.08L157.624 35ZM175.203 35H188.019C192.339 35 195.651 33.8 198.195 31.688C201.795 28.664 203.667 23.768 203.667 18.2C203.667 8.072 197.763 0.679998 188.595 0.679998H175.203V35ZM182.163 29V6.632H187.731C193.635 6.632 196.611 11.384 196.611 18.2C196.611 25.016 194.067 29 187.539 29H182.163ZM206.925 35H213.453V10.376H206.925V35ZM206.925 6.536H213.453V0.679998H206.925V6.536ZM228.507 43.4C232.155 43.4 235.323 42.536 237.387 40.616C239.211 38.936 240.315 36.584 240.315 33.128V10.376H234.027V12.968H233.931C232.443 10.904 230.187 9.704 227.115 9.704C220.875 9.704 216.459 14.408 216.459 21.752C216.459 29.192 221.835 33.512 227.307 33.512C230.427 33.512 232.299 32.264 233.739 30.632H233.883V33.32C233.883 36.68 232.107 38.456 228.411 38.456C225.387 38.456 223.995 37.256 223.467 35.72H216.987C217.659 40.52 221.787 43.4 228.507 43.4ZM228.411 28.28C225.051 28.28 222.843 25.832 222.843 21.656C222.843 17.528 225.051 14.936 228.363 14.936C232.299 14.936 234.219 18.008 234.219 21.608C234.219 25.256 232.539 28.28 228.411 28.28ZM244.518 35H251.046V10.376H244.518V35ZM244.518 6.536H251.046V0.679998H244.518V6.536ZM253.813 14.696H257.221V29.144C257.221 33.8 260.725 35.048 263.893 35.048C266.485 35.048 267.973 34.952 267.973 34.952V30.152C267.973 30.152 266.869 30.2 266.053 30.2C264.613 30.2 263.605 29.576 263.605 27.752V14.696H267.829V10.376H263.605V2.696H257.221V10.376H253.813V14.696ZM286.929 35H293.217V34.76C292.641 34.328 292.353 33.224 292.353 31.352V18.824C292.353 13.064 289.377 9.752 281.984 9.752C274.785 9.752 271.569 13.544 271.377 17.864H277.185C277.377 15.512 278.865 14.408 281.937 14.408C284.673 14.408 286.065 15.56 286.065 17.336C286.065 19.208 284.193 19.544 280.113 20.12C274.641 20.888 270.225 22.616 270.225 28.04C270.225 32.936 273.777 35.576 278.817 35.576C283.041 35.576 284.817 34.136 286.065 32.264H286.161C286.305 33.368 286.545 34.52 286.929 35ZM280.401 31.016C278.097 31.016 276.561 30.2 276.561 27.896C276.561 25.592 278.241 24.824 281.648 24.056C283.281 23.672 285.057 23.288 286.209 22.616V26.312C286.209 28.712 284.145 31.016 280.401 31.016ZM296.599 35H303.127V0.679998H296.599V35ZM307.041 35H314.049V28.04H307.041V35Z" fill="black"/>
      </svg> 
    </a>
    <Nav />
    <a href="/" class="header__button button button--icon button--black">Let's Talk</a>
  </div>
</header>

<style>
  @import '../styles/common/media-queries.css';

  .header {
    height: 91px;
  }

  #header-sticky {
    @media (--md) {
      padding: 0 calc(var(--spacer)*2);
    }
  
    position: relative;
    display: flex;
    column-gap: 2rem;
    align-items: center;
    border-bottom: 1px solid var(--color-black);
    background-color: var(--color-white);
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    tranform: translateY(0);
  }

  .header--unpinned {
    position: fixed !important;
  }

  .header--pinned {
    position: fixed !important;
    transition: all 0.2s ease-in-out 0s;
  }

  .header__button-text {
    flex-shrink: 0;
  }

  .header__button-mark svg {
    display: block;
    width: 27px;
    height: 27px;
  }

  .logo {
    display: block;
    line-height: 1;
    padding-right: 5%;
    border-right: 1px solid black;
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
  }

  .logo svg {
    height: 38px;
    width: auto;
  }
</style>

<script>
  var prevScrollpos = window.pageYOffset;
  var headerHeight = document.getElementById("header-sticky").offsetHeight;
  var header = document.getElementById("header-sticky");
  window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
    var scrollDistance = currentScrollPos - prevScrollpos;
    console.log('scrolldist', scrollDistance);

    if(currentScrollPos === 0) {
      header.style.transform = 'translateY(0)';
      header.classList.remove("header--pinned");
    } else if (currentScrollPos < headerHeight) {
      header.classList.remove("header--pinned");
      header.classList.remove("header--unpinned");
      header.style.transform = 'translateY(0)';
    } else if (prevScrollpos > currentScrollPos) {
      // Going up
      var scrollDistance = prevScrollpos - currentScrollPos;
      if (scrollDistance > 10) {
        header.style.transform = 'translateY(0)';
        header.classList.add("header--pinned");
        header.classList.remove("header--unpinned");
      }
    } else {
      header.classList.add("header--unpinned");
      header.classList.remove("header--pinned");
      header.style.transform = 'translateY(-100%)';
    }
    prevScrollpos = currentScrollPos;
  }
</script>