---
const { modal } = Astro.props;
---
<nav class:list={['nav', { 'nav--modal': modal } ]}>
  <ul class="nav__list">
    <!-- <li class="nav__item">
      <a href="" class="nav__link">Our Approach</a>
    </li> -->
    <!-- <li class="nav__item">
      <a href="" class="nav__link">About NRD</a>
    </li> -->
    <!-- <li class="nav__item">
      <a href="" class="nav__link">Our Work</a>
    </li> -->
  </ul>
</nav>
<style>
  @import '../styles/common/media-queries.css';

  .nav:not(.nav--modal) {
    display: none;
    margin-left: auto;

    @media (--lg) {
      display: block;
    }
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
  }

  .nav__link {
    font-size: 20px;
    line-height: 90px;
    white-space: nowrap;
  }

  .nav--modal {
    .nav__list {
      display: block;
    }

    .nav__link {
      display: block;
      line-height: 2.5;
      padding: 0 1.5rem;
    }
  }
</style>