<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="" class="nav__link">Our Approach</a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link">About NRD</a>
    </li>
    <li class="nav__item">
      <a href="" class="nav__link">Our Work</a>
    </li>
  </ul>
</nav>
<style>
  .nav {
    margin-left: auto;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2rem;
  }

  .nav__link {
    font-size: 20px;
    line-height: 90px;
    white-space: nowrap;
  }

</style>